@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background-color-light: #ffffff;
  --background-color-dark: #1a202c;
  --text-color-light: #000000;
  --text-color-dark: #ffffff; */
  --background-color: white;
  --text-color:black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
/* 
html.dark,
body.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
} */
.dark{
  --background-color:black;
  --text-color:white; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fixed {
  position: fixed;
}

.bottom-4 {
  bottom: 1rem;
}

.right-4 {
  right: 1rem;
}

.p-2 {
  padding: 0.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.text-white {
  color: #ffffff;
}
